{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@config": "./config",
        "@redux": "./app/redux",
        "@screens": "./app/screens",
        "@utils": "./app/utils",
        "@navigation": "./app/navigation",
        "@components": "./app/components",
        "@styles": "./app/styles",
       }
    }]
  ]
}

